<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerDirection="root" routerLink="/">
                            <ion-icon slot="start" name="home"></ion-icon>
                            <ion-label>Home</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" *ngFor="let o of opportunities">
                        <ion-item routerDirection='root' [routerLink]="o.url">
                            <ion-icon slot="start" name="star"></ion-icon>
                            <ion-label>{{o.name}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
